<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Sprint0
  </h1>
  <form class="forms-sample data" #form="ngForm">
    <div class="form-group">
      <label for="exampleInputName1">Name : </label>
      <br>
      <input type="text" class="form-control" id="name" placeholder="Name" ngModel name="name" #name="ngModel" required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail3">Email address : </label>
      <br>
      <input type="email" class="form-control" id="email" placeholder="Email" ngModel name="email" #email="ngModel"
        required email>
    </div>
      <div class="form-group">
        <label for="exampleInputName1">Designation : </label>
        <br>
        <input type="text" class="form-control" id="designation" placeholder="Designation" ngModel name="designation"
          #designation="ngModel" required>
      </div>

      <div class="form-group">
        <label>SignUp Provider : </label>
        <br>
        <select id="signup" name="signup" ngModel #signup="ngModel" class="choice empty form-control border-grey-1">
          <option value="" disabled="" selected="" data-default="" class="font-style-normal">SignUp Provider*</option>
          <option value="Linkdin">Linkdin</option>
          <option value="Github">Github</option>
          <option value="Google">Google</option>
          <option value="Facebook">Facebook</option>
          <option value="Email">Email</option>
         </select> 
        </div>
        <div class="form-group">
          <label for="exampleInputName1">Customer Permissions : </label>
          <br>
          <input type="text" class="form-control" id="module_name" placeholder="Module name" ngModel name="module_name" #module_name="ngModel" required>
          <input type="text" class="form-control" id="permission_name" placeholder="Permission name" ngModel name="permission_name" #permission_name="ngModel" required>
        
        </div>
      <button class="btn btn-common mr-3" (click)="addData(form)">Submit</button>
      
      
  </form>

</div>
  <router-outlet></router-outlet>